<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    </head>
    <body>
        
        <h1 class="text-info text-center " style="position: absolute; left: 13.5cm;">Seleccione un crud</h1>

        <div class=" d-flex justify-content-center align-items-center vh-100">
            <div class="container d-flex justify-content-center">

                <a class="btn btn-primary mx-2" href="/detalle">Detalle Orden</a>
                <a class="btn btn-primary mx-2" href="/orden">Ordenes</a>
                <a class="btn btn-primary mx-2" href="/producto">Productos</a>
            </div>
        </div>

    </body>
</html>